<link href="../css/asf.ios.css" rel="stylesheet" />
<ion-view title="" class="dbwj_container">
    <ion-header-bar align-title='center' class='bar-positive'>
        <a class="button button-icon icon ion-ios-arrow-back" ng-click='closeWin();'></a>
        <h3 class='title'>  {{viewTitle}}  </h3>
        <a class="button button-icon" ng-click='noteDraft();'><img height=28 src="../img/drawable-hdpi/icon_add.png"></a>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-refresher on-refresh="doRefresh()" pulling-text="拖动刷新" refreshing-text="加载中" refreshing-icon="ion-loading-c" pulling-icon="ion-ios-arrow-down" pulling-icon="ion-ios-arrow-down">
        </ion-refresher>

        <div class="item item-input-inset todoSearch">
            <label class="item-input-wrapper searchStyle">
                <i class ="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="在此输入关键字" ng-model="model.query" maxlength="10">
            </label>
        </div>

        <ion-list>
            <ion-item ng-repeat="item in items" class="todoContainer" ng-click="openNoteDetail(item)">
                <div class="todo_title size-16"><span ng-if="item.muser_id && item.muser_id != userId">【委】</span>{{item.itemsContent}}
                <span style="float: right;text-align:right;;" ng-if="item.status"> {{item.status}}</span>
                </div>
                <div class="clearfix">
                    <p class="pull-right size-14 todo_person">
                        <span ng-bind="item.name"></span>
                        <i>|</i>
                        <span ng-bind="item.time"></span>
                    </p>
                </div>
            </ion-item>
        </ion-list>

        <div ng-show="items.length==0" style="font-size:30px;color:#ccc;text-align:center;padding:50px 0px 0px;">
            <i class="ion-clipboard" style="font-size:90px"></i><br /><br />
            暂无便笺
        </div>

        <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMore()" distance="3%" icon="ion-loading-c">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>