<ion-view>
    <ion-header-bar align-title="center" class="bar-assertive">
        <div class="buttons">
            <button class='button button-icon icon ion-ios-arrow-back' style='font-size:12px' ng-click='goBack()'></button>
        </div>
        <h3 class='title'>{{typename}}</h3>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-list class="list">
            <div class="item text-center" ng-show="unshow" style="color:#ccc; font-size:30px;border-bottom:0px;">
                <i class="ion-clipboard" style="font-size:90px"></i>
                <br />
                <br />
                暂无学员
            </div>
			<div ng-repeat="dataRepeat in dataStu">
				<a class="item" style="border-left:none;border-right:none;border-top:none;margin-bottom:2px;" ng-click="openModal(dataRepeat)">
					<!--<img ng-src="{{userdefaultpng}}">-->
					<h2><span ng-bind="dataRepeat.bt"></span>&nbsp;<span ng-bind="dataRepeat.szdw" style="color:#a99e9e"></span></h2>
					<p>
						<div class="pull-left" ng-show="dataRepeat.fjh!=null">房间号：<span ng-bind="dataRepeat.fjh"></span>&nbsp;&nbsp;</div>
						<div class="pull-left" ng-show="dataRepeat.fjdh!=null">分机号：<span ng-bind="dataRepeat.fjdh"></span></div>
					</p>
				</a>
			</div>
        </ion-list>
    </ion-content>
</ion-view>