<ion-view title="{{title}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="exitApp()">{{uname}}</button>
    </ion-nav-buttons>

	<ion-content style="background-color:#eee;">
		<style>
			.rb-grid {
				list-style: none;
				text-align: center;
				margin: 0 auto;
			}

			.rb-grid li {
				width: 32.8%;
				height: 8em;
				margin: 0.18%;
				background: #fff;
				color: #333;
				display: block;
				float: left;
				padding: 1.6em;
				cursor: pointer;
				position: relative;
			}
			
			.rb-grid li a{
				color:#333;
			}
			.rb-grid li a:hover{
				text-decoration:none;
				color:#ff6a00;
			}

			.rb-grid li.rb-span-2 {
				width: 49%;
			}

			.rb-grid li.rb-span-4 {
				width: 99%;
			}

			.rb-grid li h3 {
				font-size: 2.6em;
				font-weight: 100;
			}

			.rb-grid li[class^="icon-"]:before,
			.rb-grid li[class*=" icon-"]:before {
				font-size: 10em;
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				line-height: 3;
				opacity: 0.4;
				text-align: right;
				pointer-events: none;
			}
		</style>
		<div  style=" background-color:#eee; padding-left:0.5%;">
			<ul id="rb-grid" class="rb-grid clearfix">
                <li ng-if="usertype=='teacher'" class="icon-clima-2" ng-click="goChaoXing()">
                    <a>
                        <h3><img src="../img/tztg.png" width="50" height="50" /></h3>
                        <span class="rb-temp">通知通告</span>
                    </a>
                </li>

                <li class="icon-clima-2" ng-click="gomenu('新闻动态')">
                    <a>
                        <h3><img src="../img/xwdt.png" width="50" height="50" /></h3>
                        <span class="rb-temp">新闻动态</span>
                    </a>
                </li>
                <li class="icon-clima-2" ng-click="gomenu('微信测试')">
                    <a>
                        <h3><img src="../img/dbtx.png" width="50" height="50" /></h3>
                        <span class="rb-temp">微信测试</span>
                    </a>
                </li>
                <li ng-if="usertype=='teacher'" class="icon-clima-2" ng-click="gomenu('待办提醒')">
                    <a>
                        <h3><img src="../img/dbtx.png" width="50" height="50" /></h3>
                        <span class="rb-temp">待办提醒</span>
                    </a>
                </li>
                <li ng-if="usertype=='teacher'||usertype=='student'" class="icon-clima-2" ng-click="gomenu('一周课表')">
                    <a>
                        <h3><img src="../img/yzkb.png" width="50" height="50" /></h3>
                        <span class="rb-temp">一周课表</span>
                    </a>
                </li>
                <li ng-if="usertype=='teacher'" class="icon-clima-2" ng-click="gomenu('个人日程')">
                    <a>
                        <h3><img src="../img/grrc.png" width="50" height="50" /></h3>
                        <span class="rb-temp">个人日程</span>
                    </a>
                </li>
                <li ng-if="usertype=='teacher'" class="icon-clima-2" ng-click="gomenu('通讯录')">
                    <a>
                        <h3><img src="../img/txl.png" width="50" height="50" /></h3>
                        <span class="rb-temp">通讯录</span>
                    </a>
                </li>
                <li class="icon-clima-2" ng-click="gomenu('四川党校报')">
                    <a>
                        <h3><img src="../img/scdxb.png" width="50" height="50" /></h3>
                        <span class="rb-temp">四川党校报</span>
                    </a>
                </li>
                <li ng-if="usertype=='teacher'" class="icon-clima-2" ng-click="gomenu('待阅信息')">
                    <a>
                        <h3><img src="../img/dyxx.png" width="50" height="50" /></h3>
                        <span class="rb-temp">待阅信息</span>
                    </a>
                </li>
                <li ng-if="usertype=='teacher'" class="icon-clima-2" ng-click="gomenu('会议信息')">
                    <a>
                        <h3><img src="../img/hyxx.png" width="50" height="50" /></h3>
                        <span class="rb-temp">会议信息</span>
                    </a>
                </li>
                <li class="icon-clima-2" ng-click="gomenu('视频新闻')">
                    <a>
                        <h3><img src="../img/spxw.png" width="50" height="50" /></h3>
                        <span class="rb-temp">视频新闻</span>
                    </a>
                </li>
                <li class="icon-clima-2" ng-click="gomenu('移动课堂')">
                    <a>
                        <h3><img src="../img/ydkt.png" width="50" height="50" /></h3>
                        <span class="rb-temp">移动课堂</span>
                    </a>
                </li>
                <li ng-if="usertype=='student'" class="icon-clima-2" ng-click="gomenu('请假单')">
                    <a>
                        <h3><img src="../img/ydkt.png" width="50" height="50" /></h3>
                        <span class="rb-temp">请假单</span>
                    </a>
                </li>
                <li ng-if="usertype=='student'" class="icon-clima-2" ng-click="gomenu('学员通讯录')">
                    <a>
                        <h3><img src="../img/ydkt.png" width="50" height="50" /></h3>
                        <span class="rb-temp">学员通讯录</span>
                    </a>
                </li>
                <li ng-if="usertype=='student'" class="icon-clima-2" ng-click="goChaoXing()">
                    <a>
                        <h3><img src="../img/ydkt.png" width="50" height="50" /></h3>
                        <span class="rb-temp">课程评价</span>
                    </a>
                </li>
                <li class="icon-clima-2">
                    <a>
                        <h3></h3>
                        <span class="rb-temp"></span>
                    </a>
                </li>
                <li class="icon-clima-2">
                    <a>
                        <h3></h3>
                        <span class="rb-temp"></span>
                    </a>
                </li>
                <li class="icon-clima-2">
                    <a>
                        <h3></h3>
                        <span class="rb-temp"></span>
                    </a>
                </li>
                <li class="icon-clima-2">
                    <a>
                        <h3></h3>
                        <span class="rb-temp"></span>
                    </a>
                </li>
			</ul>
		</div>
</ion-content>
</ion-view>
