
<ion-view>
    <ion-header-bar align-title='center' class='bar-assertive'>
        <a class="button button-icon icon ion-ios-arrow-back" ng-click='goback()'></a>
        <h3 class='title'>
            考勤管理
        </h3>
        <div class='buttons' ng-show="showAdd">
            <button class='button button-icon icon ' ng-click='gotoAddKq()'>发起签到</button>
        </div>
    </ion-header-bar>
    <ion-tabs class="tabs-striped tabs-top" style="color:red;border-color:red;">
        <ion-tab title="一卡通考勤" on-select="showAddKq(0)">
            <ion-view>
                <ion-content class="has-header consumeInfo">
                    <ion-list>
                        <div class="left">
                            <label class="item item-input" style="padding:1px">
                                <i class="icon ion-search placeholder-icon" style="font-size:x-large; padding-left:5px"></i>
                                <input type="text" placeholder="查询" ng-model="keyword" maxlength="10">
                            </label>
                        </div>
                    </ion-list>
                    <div ng-show="false" style="font-size:30px;color:#ccc;text-align:center;padding:50px 0px 0px;">
                        <i class="ion-clipboard" style="font-size:90px"></i><br /><br />
                    </div>
                    <table class="classList">
                        <tr>
                            <th>序号</th>
                            <th class="longLine">课程名称</th>
                            <th>上课时间</th>
                        </tr>
                        <tr ng-repeat="item in kclist|queryStuList:keyword" ng-click="gotoKq(item)">
                            <td>{{item.rowindex}}</td>
                            <td>{{item.bt}}</td>
                            <td>{{item.lessonbegin}}</td>
                        </tr>
                        <tr ng-show="kclist.length==0">
                            <td colspan="3" style="text-align:center;">无课程信息</td>
                        </tr>
                    </table>
                    <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMoreKcList();" distance="1%" icon="ion-loading-d">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="出入异常" on-select="showAddKq(0)">
            <ion-view>
                <ion-content class="has-header consumeInfo">
                    <ion-list>
                        <div class="left">
                            <label class="item item-input" style="padding:1px">
                                <i class="icon ion-search placeholder-icon" style="font-size:x-large; padding-left:5px"></i>
                                <input type="text" placeholder="可按姓名查找" ng-model="keyxmword" maxlength="10">
                            </label>
                        </div>
                    </ion-list>
                    <div ng-show="false" style="font-size:30px;color:#ccc;text-align:center;padding:50px 0px 0px;">
                        <i class="ion-clipboard" style="font-size:90px"></i><br /><br />
                    </div>
                    <table class="classList">
                        <tr>
                            <th class="longLine">姓名</th>
                            <th>刷卡点</th>
                            <th>刷卡时间</th>
                        </tr>
                        <tr ng-repeat="item in InOutlist|queryStuList:keyxmword">
                            <td>{{item.bt}}</td>
                            <td>{{item.oplocation}}</td>
                            <td>{{item.opertime|date:'yyyy-MM-dd HH:mm'}}</td>
                        </tr>
                        <tr ng-show="InOutlist.length==0">
                            <td colspan="3" style="text-align:center;">无出入异常信息</td>
                        </tr>
                    </table>
                    <ion-infinite-scroll ng-if="moreDataCanBeLoaded1" on-infinite="loadMoreInOutList();" distance="1%" icon="ion-loading-d">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="签到管理" on-select="showAddKq(1)">
            <ion-view>
                <ion-content class="has-header consumeInfo">
                    <ion-list>
                        <div class="left">
                            <label class="item item-input" style="padding:1px">
                                <i class="icon ion-search placeholder-icon" style="font-size:x-large; padding-left:5px"></i>
                                <input type="text" placeholder="查询" ng-model="keyqdword" maxlength="10">
                            </label>
                        </div>
                    </ion-list>
                    <div ng-show="false" style="font-size:30px;color:#ccc;text-align:center;padding:50px 0px 0px;">
                        <i class="ion-clipboard" style="font-size:90px"></i><br /><br />
                    </div>
                    <table class="classList">
                        <tr>
                            <th class="longLine">课程名称</th>
                            <th>已签</th>
                            <th>未签</th>
                        </tr>
                        <tr ng-repeat="item in qDlist|queryStuList:keyqdword" ng-click="viewList(item)">
                            <td>{{item.bt}}</td>
                            <td>{{item.qdcount}}</td>
                            <td>{{item.wcount}}</td>
                        </tr>
                        <tr ng-show="qDlist.length==0">
                            <td colspan="3" style="text-align:center;">无课程信息</td>
                        </tr>
                    </table>
                    <ion-infinite-scroll ng-if="moreDataCanBeLoaded2" on-infinite="loadMoreQdList();" distance="1%" icon="ion-loading-d">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>

