<style>
    .videogular-container {
        width: 100%;
        height: 260px;
        margin: auto;
        overflow: hidden;
        vertical-align: top;
    }
</style>
<ion-view title="视频">
    <ion-header-bar align-title="center" class="bar-assertive">
        <div class="buttons">
            <button class='button button-icon icon ion-ios-arrow-back' style='font-size:12px' ng-click='goBack()'></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="videogular-container">
            <videogular vg-auto-play="true" vg-theme="config.theme" vg-player-ready="onPlayerReady($API)"
                        vg-update-time="onUpdateTime($currentTime, $duration)">
                <vg-media vg-src="config.sources"
                          vg-tracks="config.tracks">
                </vg-media>

                <vg-controls>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>

                <vg-overlay-play></vg-overlay-play>
                <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                <vg-analytics vg-track-info="config.plugins.analytics.events"></vg-analytics>
            </videogular>
        </div>
        <div>
            <div class="tabs has-tabs tabs-striped tabs-color-assertive" style="position:inherit">
                <a class="tab-item" ng-class="{true: 'active', false: ''}[tab.active]" ng-repeat="tab in tabs" ng-click="go(tab)">
                   <span style="font-weight:bold;font-size:1.3em"> {{tab.name}}</span>
                </a>
            </div>
        </div>
        <ion-scroll ng-show="nowtab=='简介'" zooming="true"  direction="y" style="width:100%; height:400px;">
            <div style="padding:5px"  ng-bind-html="form.safeContent">
            </div>
        </ion-scroll>
        <ion-scroll ng-show="nowtab=='互动'" zooming="true" direction="y" style="width:100%; height:400px;">
            <div style="padding:5px">
                <span><button ng-click="setVideo(1)">qiehuan</button></span>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>

