<ion-view title="我的学习" style="background:url(../content/bg.png)  no-repeat;background-size:100% 300px;font-size:30px; ">
    <main-header my-title="我的学习" style="background:rgba(0,0,0,0);border-bottom:none;"></main-header>
    <ion-content class="has-header has-footer transparent-bg" >
        <ion-list class="transparent-bg">
            <div class="transparent-bg">
                <div class="item transparent-bg text-center-noborder">
                    <div class="white">
                        <span ng-bind="user.username" class="size-18"></span>
                        <span ng-repeat="star in userInfo.starArr">
                            <i ng-class="star.starClass" class="golden"></i>
                        </span>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-list>
            <div class="transparent-bg">
                <ion-item class="item transparent-bg" style="height:110px;padding-top:8px;border:none;border-top:1px solid #D55738; border-bottom:none;">
                    <div class="row">
                        <div class="col text-center" ng-repeat="dataRow in dataMySource" ng-click="gosub(dataRow)">
                            <div >
                                <i class="icon {{dataRow.image}} size-50 white">
                                </i>
                                <div class="mystydy-announ-elective-number" ng-show="dataRow.showicon">
                                    <div class="red-bg radius-50" style="width:8px ;height:8px;margin:3px "> </div>
                                </div>
                            </div>
                            <!--<span class="badge badge-assertive">0</span>-->
                            <p class="white size-16">{{dataRow.title}}</p>
                        </div>
                    </div>
                </ion-item>
            </div>
            <div class="grey-bg">
                <ion-item class="item margin-0 padding-0 border-none" style="overflow:hidden;height:300px">
                    <div class="row item-nomargin-nopadding" ng-repeat="dataRepeat in datameSource">
                        <div class="text-center col mystudyBorder" style="" ng-repeat="dataRow in dataRepeat.data" ng-click="gosub(dataRow)">
                            <img class="img-50" ng-src="{{dataRow.image}}">
                            <p class="size-18">{{dataRow.title}}</p>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>


</ion-view>