
<ion-view title="移动教学" style="background:url(../content/bg.jpg)  no-repeat;background-size:100% 240px;">
    <main-new-header-bar my-title="移动教学"></main-new-header-bar>
    <!--<ion-tabs class="tabs-striped tabs-top">
        <ion-tab title="微课程">
            <ion-view>-->
    <ion-content class="has-header has-footer">
        <div style="background:#E4E4E4;padding:5px">
           <div class="ydjx1-left">
               <div class="ydjx1-wkc">
                    
                   <img src="../img/1-wkc.png">
               </div>
               <div class="ydjx1-wkc-g">
                   <div class="ydjx1-wkc-g-1" ng-click="goZJList(1,1,19)">
                       <img src="../img/1-wjz.png" />
                   </div>
                   <div class="ydjx1-wkc-g-1" ng-click="goZJList(1,2,29)">
                       <img src="../img/1-wsp.png" /> 
                   </div>
                   <div class="ydjx1-wkc-g-1" ng-click="goZJList(1,3,30)">
                       <img src="../img/1-wal.png" />
                   </div>
                   <div class="ydjx1-wkc-g-1" ng-click="goZJList(1,4,32)">
                       <img src="../img/1-wxc.png" />
                   </div>
                   <div class="ydjx1-wkc-g-1" ng-click="goZJList(1,5,31)">
                       <img src="../img/1-wlt.png" />
                   </div>
               </div>
           </div>
            <div class="ydjx1-left">
                <div class="ydjx1-wkc">
                    
                    <img src="../img/1-ydh.png" />
                </div>
                <div class="ydjx1-wkc-g">
                    <div class="ydjx1-wkc-g-1" ng-click="goZJList(2,1,22)">
                        <img src="../img/1-xxsk.png" />
                    </div>
                    <div class="ydjx1-wkc-g-1" ng-click="goZJList(2,2,21)">
                        <img src="../img/1-dxjygs.png" />
                    </div>
                    <div class="ydjx1-wkc-g-1" ng-click="goZJList(2,3,33)">
                        <img src="../img/1-ggkf.png" />
                    </div>
                    <div class="ydjx1-wkc-g-1" ng-click="goZJList(2,4,23)">
                        <img src="../img/1-lzdd.png" />
                    </div>
                    <div class="ydjx1-wkc-g-1" ng-click="goZJList(2,5,24)">
                        <img src="../img/1-xxts.png" />
                    </div>
                </div>
            </div>
            <div class="ydjx1-wkc-3" ng-click="goZJNewList(20)">
                <img src="../img/1-gkk.png" />
            </div>
            <div class="ydjx1-wkc-3" ng-click="goZJNewList(34)">
                <img src="../img/1-wlxy.png" />
            </div>
            <div class="ydjx1-wkc-3" ng-click="goZJNewList(28)">
                <img src="../img/1-zbkc.png" />
            </div>
        </div>
    </ion-content>
</ion-view>