<ion-view>
    <go-back my-title="{{loadTitle}}"></go-back>
    <ion-content class="has-header">
        <ion-list>
            <ion-refresher on-refresh="doRefresh()"
                           pulling-text="拖动刷新"
                           refreshing-text="加载中"
                           refreshing-icon="ion-loading-c">
            </ion-refresher>
            <div ng-repeat="hotItem in dataZpywSource" style="padding:3px 0px 0px 0px;">
                <ion-item ng-click="goNewsDetail(hotItem);" class="item item-thumbnail-left list-style-1">
                    <img src="../staticresource/{{hotItem.title_pic}}" class="md-whiteframe-z2 border_radius" />
                    <h2 >{{hotItem.title}}</h2>
                </ion-item>
            </div>
        </ion-list>
        <div ng-show="isShow" style="font-size:30px;color:#ccc;text-align:center;padding:50px 0px 0px;">
            <i class="ion-monitor" style="font-size:90px"></i><br /><br />
            暂无信息
        </div>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMore();" distance="1%" icon="ion-loading-d">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>